//Global variables 

$color-primary: #007eaf;
$color-primary-onClick: #006086;
$color-primary-text: #626262f6;
$color-secondary: #d42626f6;
$color-icons: #8c8c8cd5;
$color-header-links: #626262d5;
$color-icons-hover: #676767d5;

* {
  margin: 0 0.5rem;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 10px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//Desktop - default styles

.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__logo {
    background-image: url("./src/images/LK-Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
  }

  &__menu {
    font-size: 2.5vw;
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
      text-decoration: none;
      color: $color-header-links;
      font-size: 1.6rem;
      font-weight: 300;

      &:hover {
        color: $color-primary;
      }
      &:active {
        color: $color-primary-onClick;
      }
    }
  }
}



.main {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 2rem;
  border-radius: 100%;
  background-size: 100%;
  background-position: center;


  &__image {
    width: 50%;
    background-image: url("./src/images/Profile-Pic-LK.png");
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center; 
    
  }

  &__text {
    flex-direction: column;
    width: 50%;
    color: $color-primary-text;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem; 
    box-sizing: border-box; 
    &--1{
      font-weight: 500;
      font-size: 3.2rem;
    }
    
    &--hobbies{
margin: 1.6rem 0 0 0;
    }
    &--5{
      font-weight: 300;
      font-size: 1.4rem;
      font-family: "Work Sans", sans-serif;
      margin:0 0.5rem;
    }
  }

  .main__text--name {
    color: $color-primary;
    font-size: 4rem;
    font-weight: 800;
    font-family: "Dancing Script", cursive;
    font-style: normal;
    
  }
}

.footer {
  height: 10%;
  display: flex;
  //align items in a row
  flex-direction: row;
  //aligns flex items in the center of the container (x axis)
  justify-content: center;

//aligns items in the centre vertically
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  justify-content: flex-end;
  margin-right: 18%;

  //targets classes beginning with footer, 
  //makes image descendents 5.3% ov viewport width.
  [class ^="footer"]{
    img{
      width: 5.3vw;
    }
  }

  &__link {
    color: $color-icons;
    font-size: 2rem;
    text-decoration: none;

    &:hover {
      color: $color-icons-hover;
    }
  }
}

//MEDIA QUERY - Tablet

@media (max-width: 1024px){
.header{
justify-content: center;
text-align: center;
    &__logo{
      background-image: url("./src/images/LK-Logo.png");
      width: 70px;
      height: 70px;
      justify-content: start;
      flex-shrink: 0
    }
    }
    .main{
      padding: 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-size: 100%;
      background-position: center;
            &__image{
            width: 60%;
            height: 600px;
            background-size: contain;
            }
            &__text{
            width: 100%;
            padding: 8px;
            justify-content: center;
        
            &--1{
              display: none;
            }
            &--name{
              font-size: 32px;
              text-align: center;
            }
           
            &--hide{
              display: none;
            }
            &--2{
              text-align: center;
            }
            &--3,&--4{
              font-size: 28px;
              text-align: start;
            }
            &--5{
              font-size: 22px;
              text-align: start;
            }
            }
  }
  .footer{
    justify-content: center;
    margin: 0;
    [class^="footer"]{
      img{
        width: 45px;
        height: 45px;
      }
    }
  }
  

  
}


//MOBILE - Media Query

@media (max-width: 650px){
  .header{
justify-content: center;
text-align: center;
    &__logo{
      font-size: 2.4rem;
    }

    //remove menu items when below 650px;
    &__menu{
      display: none;

    }
    }
    .main{
      padding: 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-size: 100%;
      background-position: center;
            &__image{
            width: 260px;
            height: 260px;
            }
            &__text{
            width: 100%;
            padding: 8px;
            justify-content: center;
        
            &--1{
              display: none;
            }
            &--name{
              font-size: 24px;
              text-align: center;
            }
           
            &--hide{
              display: none;
            }
            &--2{
              text-align: start;
            }
            &--3,&--4{
              font-size: 22px;
              text-align: start;
            }
            &--5{
              font-size: 18px;
              text-align: start;
            }
            }
  }
  .footer{
    justify-content: center;
    margin: 0;
    [class^="footer"]{
      img{
        width: 45px;
        height: 45px;
      }
    }
  }
}

